

/* common class */
html{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 27px;
    color: #6B3CC9;
}

h3{
    font-size: 21px;
}

/* navbar css */
nav.navbar {
    background-color: #6B3CC9 !important;
}

.nav-link{
    color: #FFFFFF !important;
}

/* hero section css */
.hero {
    background: url('./images/Hero Image.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: flex-end; 
  }
  
  .hero-inner {

    padding: 0 1.5rem;
  }

    .content{
        position: absolute;
        
    }

.head-line-sec-desktop{
    background: linear-gradient(180deg, #1CBDDD 0%, #4DCA79 100%);
    color: #FFFFFF;
}

.headline-sec-mobile{
    background: linear-gradient(180deg, #1CBDDD 0%, #4DCA79 100%);
    color: #FFFFFF;
    display: none;
}

.home-btn{
    padding: 6px 20px 6px 20px;
    border-radius: 4px;
    background-color: #F28D35;
    border-color: #F28D35;
    color: #FFFFFF;
    text-decoration: none;
}



#footer{
    background-color: #6B3CC9;
}

#footer p,h3{
    color: #FFFFFF;
}

.desktop-content {
    display: block;
}

.mobile-content{
    display: none;
}

@media (max-width: 767px) {
    /* Styles for mobile */
    .desktop-content {
        display: none;
    }

    .mobile-content {
        display: block;
    }

    .head-line-sec-desktop{
        display: none;
    }

    .headline-sec-mobile{
        display: block;
    }

    .mobile-content{
        text-align: center;
    }

}

